@import "libs/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

// VARIABLES //
// Colors //

$white: hsl(0, 0%, 100%);
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card: hsl(216, 50%, 16%);
$line-card: hsl(215, 32%, 27%);

@mixin Flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Typography

$paragraph: 18px;
$main-font: "Outfit";

body {
  font-family: $main-font, Arial, sans-serif;
  background: $main-bg;
  min-height: 100vh;
}
h1 {
  color: $white;
  font-weight: 600;
}
p {
  font-weight: 300;
}
main {
  @include Flex-center();
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 750px;
}

.container {
  @include Flex-center();
  width: 330px;
  height: 550px;
  border-radius: 15px;
  background-color: $card;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  .container__nft {
    padding: 15px;
    display: flex;
    align-content: space-between;
    .img-nft {
      width: 300px;
      height: 300px;
      border-radius: 8px;
    }
  }
  .container__text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .soft-blue {
      color: $softBlue;
    }

    .container__info {
      display: flex;
      justify-content: space-between;
      span img {
        margin-right: 10px;
      }
      .cyan {
        color: $cyan;
      }
    }
    .author {
      display: flex;
      border-top: 2px solid $line-card;
      height: 20px;

      img {
        height: 25px;
        border: 1px solid $white;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
}
