@import "libs/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

// VARIABLES //
// Colors //

$white: hsl(0, 0%, 100%);
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card: hsl(216, 50%, 16%);
$line-card: hsl(215, 32%, 27%);
// Adjustement //

@mixin Flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin Margin-bot {
  margin-bottom: 12px;
}

//Typography

$paragraph: 18px;
$main-font: "Outfit";

body {
  font-family: $main-font, Arial, sans-serif;
  background: $main-bg;
  min-height: 100vh;
}
h1 {
  color: $white;
  font-weight: 600;
}
p {
  font-weight: 300;
}
h1,
p {
  @include Margin-bot();
}
main {
  @include Flex-center();
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 750px;
}

.container {
  @include Flex-center();
  width: 330px;
  height: 550px;
  border-radius: 15px;
  background-color: $card;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  .container__nft {
    padding: 15px;

    &--img {
      width: 300px;
      height: 300px;
      border-radius: 8px;
    }
  }
  .container__text {
    padding: 20px;
    .soft-blue {
      color: $softBlue;
    }
    .cyan {
      color: $cyan;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      &__detail {
        font-size: 0.8rem;
        font-weight: 600;
      }
      &__detail img {
        margin: 0px 10px -2px 0px;
      }
    }
    .author {
      display: flex;
      border-top: 1px solid $line-card;
      height: 20px;
      padding-top: 15px;

      &__img {
        height: 25px;
        border: 1px solid $white;
        border-radius: 100%;
        margin-right: 10px;
      }
      &__name {
        color: $white;
      }
    }
  }
}
